@import url(https://qwerewqwerew.github.io/source/style/reset.css);
header,
footer {
  background-color: #000;
}
section {
  background-color: #ddd;
}
section:nth-child(2) {
  background-color: #555;
}
header,
section {
  min-height: 500px;
  box-sizing: border-box;
}
.inner {
  padding: 6% 95px;
  margin: auto;
  height: inherit;
}
/* ====================================
============== components ===============
==================================== */
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
/* nav > .inner {
  height: 7.5rem;
  padding: 0 4rem;
} */
.inner {
  background-color: white;
  opacity: 0.2;
  height: inherit;
  padding: 0 4rem;
}
.df {
  display: flex;
  align-items: center;
}
/* ====================================
============== header ===============
==================================== */
.gnb {
  height: 7.5rem;
  background-color: var(--gray_800);
  left: 0;
  right: 0;
  z-index: 999;
}
.main_banner {
  width: 100%;
  height: 50rem;
  left: 0;
  top: 0;
  background-image: url(./imgs/main_visual1.jpg);
  background-size: cover;
}

/* ====================================
============== main ===============
==================================== */
section .sec_tit {
  width: 229px;
  height: 28px;
  background-color: black;
  align-self: self-start;
}
section .cardnews {
  width: 100%;
  height: 37.6rem;
  margin-top: 30px;
  background-color: black;
}
/* section .title_area.df, .cardnews {
  margin-top: 9.2rem;
} */

.press_notice, .service, .facility {
  margin-top: 8.9rem;
}

.press_notice .title_area {
  width: 100%;
  align-items: end;
  justify-content: space-between;
}
.press_notice .title_area a {
  width: 50px;
  height: 28px;
  background-color: black;
}

footer {
  width: 100%;
  height: 13rem;
}
